<meta hhtp-equiv="Content-Type" content="text/html" charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="Ex11.css">
<table id="tabla">
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
    </tr>
    <tr id="row">

    </tr>
</table>
<script src="./Ex11.js"></script>