<link rel="stylesheet" type="text/css" href="Ex13.css">
<script src="./Ex13.js"></script>
<p onclick="parrafo()">Parrafo</p>
<table>
    <tr>
        <td onclick="tabla()">Tabla 1 parrafo 1</td>
        <td onclick="tabla()">Tabla 1 parrafo 2</td>
    </tr>
</table>
<table>
    <tr>
        <td onclick="tabla2()">Tabla 2 parrafo 1</td>
        <td onclick="tabla2()">Tabla 2 parrafo 2</td>
    </tr>
</table>
