<meta hhtp-equiv="Content-Type" content="text/html" charset=iso-8859-1" />
<script src="./Ex14.js"></script>
<link rel="stylesheet" type="text/css" href="Ex14.css">

<body>
    <div class="principal">
        <div class="arriba">
            <input type="number" id="numero" />
        </div>
        <div class="tabla">
            <table>
                <tr>
                    <td><button class="adalt" id="retroceder" onclick="borrar()">Retr</button></td>
                    <td><button class="adalt" id="CE" onclick="CE()">CE</button></td>
                    <td><button class="adalt" id="C" onclick="C()">C</button></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><button id="siete" onclick="siete()">7</button></td>
                    <td><button id="ocho" onclick="ocho()">8</button></td>
                    <td><button id="nueve" onclick="nueve()">9</button></td>
                    <td><button id="div" onclick="ferOperacio('/')">/</button></td>
                    <td><button id="raiz" onclick="arrelQuadrada()" >Raiz</button></td>
                </tr>
                <tr>
                    <td><button id="cuatro" onclick="cuatro()">4</button></td>
                    <td><button id="cinco" onclick="cinco()">5</button></td>
                    <td><button id="seis" onclick="seis()">6</button></td>
                    <td><button id="multi" onclick="ferOperacio('*')">*</button></td>
                    <td><button id="mod" onclick="ferOperacio('%')">%</button></td>
                </tr>
                <tr>
                    <td><button id="uno" onclick="uno()">1</button></td>
                    <td><button id="dos" onclick="dos()">2</button></td>
                    <td><button id="tres" onclick="tres()">3</button></td>
                    <td><button id="resta" onclick="ferOperacio('-')">-</button></td>
                    <td><button id="raro" onclick="div1()">1/x</button></td>
                </tr>
                <tr>
                    <td><button id="zero" onclick="zero()">0</button></td>
                    <td><button id="negativo" onclick="negatiu()">+/-</button></td>
                    <td><button id="coma" onclick="afegirComa()">.</button></td>
                    <td><button id="suma" onclick="ferOperacio('+')">+</button></td>
                    <td><button id="resultado" onclick="igual()">=</button></td>
                </tr>
            </table>
        </div>
    </div>
</body>