<link rel="stylesheet" type="text/css" href="Ex15.css">
<script src="./Ex15.js"></script>
<div class="principal">
    <div class="esquerra">
        <img class="mini" id="foto1" alt="India" onclick="foto('foto1')" src="img/foto1.jpg"/>
        <img class="mini" id="foto2" alt="Camp" onclick="foto('foto2')" src="img/foto2.jpg"/>
        <img class="mini" id="foto3" alt="Grecia" onclick="foto('foto3')" src="img/foto3.jpg"/>
        <img class="mini" id="foto4" alt="Port" onclick="foto('foto4')" src="img/foto4.jpg"/>
        <img class="mini" id="foto5" alt="Muntanya" onclick="foto('foto5')" src="img/foto5.jpg"/>
        <img class="mini" id="foto6" alt="Egipte" onclick="foto('foto6')" src="img/foto6.jpg"/>
        <img class="mini" id="foto7" alt="Edifici" onclick="foto('foto7')" src="img/foto7.jpg"/>
        <img class="mini" id="foto8" alt="Aqüedupte" onclick="foto('foto8')" src="img/foto8.jpg"/>
    </div>
    <div class="dreta">
        <img id="normal"/>
    </div>
</div>
