
.principal {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.esquerra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 30%;
    height: 100%;
}

.dreta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 70%;
    height: 100%;
}
.mini {
    width: 100px;
    height: 75px;
}