<link rel="stylesheet" type="text/css" href="Ex16.css">
<script src="./Ex16.js"></script>
<body onload="reloj()">
<h1>Rellotge Javascript</h1>
<table>
<tr>
    <td><h3 id="rellotge" style="border: 1px solid black; padding-left: 10px; padding-right: 10px;"></h3></td>
</tr>
</table>
</body>

