.principal{
    position: absolute;
    left: 38%;
    top: 30%;
    border: 3px solid blue;
    width: auto;
    height: auto;
    padding: 20px;
   background-color: #F6FFF8;
}


button{
    width: 40px;
    margin-top:10px;

}

.adalt {
    width: 70px;
    color: red;
    margin-bottom:10px;
}

input {
    width: 100%;
    border: 3px solid black;
}