<meta hhtp-equiv="Content-Type" content="text/html" charset=iso-8859-1" />

<p>Letra DNI</p>
<input type="number" id="dni"/>
<button onclick="calcularLetra()">Calcular letra</button>
<script src="./Ex6.js"></script>